<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd ">
  <display-name>zoho</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>MyLogin</servlet-name>
  	<servlet-class>com.controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyLogin</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>com.controllers.Home</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Welcome</servlet-name>
  	<servlet-class>com.controllers.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Welcome</servlet-name>
  	<url-pattern>/home/profile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>com.controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/home/logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UpdateProfile</servlet-name>
  	<servlet-class>com.controllers.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateProfile</servlet-name>
  	<url-pattern>/home/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CreateAdmin</servlet-name>
  	<servlet-class>com.controllers.CreateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateAdmin</servlet-name>
  	<url-pattern>/home/createAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ImportUsers</servlet-name>
  	<servlet-class>com.controllers.ImportUsers</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImportUsers</servlet-name>
  	<url-pattern>/home/importUsers</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DbConfig</servlet-name>
  	<servlet-class>com.controllers.DbConfig</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DbConfig</servlet-name>
  	<url-pattern>/home/dbConfig</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ManageUsers</servlet-name>
  	<servlet-class>com.controllers.ManageUsers</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ManageUsers</servlet-name>
  	<url-pattern>/home/manageUsers</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>JsonConfig</servlet-name>
  	<servlet-class>com.controllers.JsonConfig</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JsonConfig</servlet-name>
  	<url-pattern>/home/jsonConfig</url-pattern>
  </servlet-mapping>
</web-app>